html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em "Calibri", sans-serif;
  background: #FFF;
  color: #777;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 220% "Calibri", sans-serif;
  color: #000000;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;}

h2
{ font: normal 205% "Calibri", sans-serif;
  color: #000000;
text-align: left;
font-weight: bold;
padding-left: 65px;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 140% "Calibri", sans-serif;
  color: #000000;}

h5, h6
{ font: italic 95% "Calibri", sans-serif;
  padding: 0 0 15px 0;
  color: #000;}

h6
{ color: #362C20;}

strong
{ font-weight:bold;
font-size:14px;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #263965ff;}

a:hover
{ text-decoration: none;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

/* ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 10px; 
  padding: 0 0 4px 5px;} */


ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #263965ff
  ;
  height: 240px;}

#logo
{ width: 950px;
  position: relative;
  height: 168px;
  background: #263965ff url("banner.png") no-repeat;
  background-position:left;}

#logo #logo_text 
{
	position: absolute;
	top: 39px;
	left: 150px;
}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FAF700;}

#logo_text h2
{ font-size: 100%;
  padding: 4px 0 0 0;
  color: #DDD;}

#menubar
{ width: 990px;
  height: 302px;
  padding: 0;
  background: #263965ff;} 

ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 85% 'lucida sans unicode', arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #263965ff url("menu_select.png") repeat-x;}

#site_content
{ width: 1050px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 20px 24px 20px 37px;
  background: #ffffff;} 

.sidebar
{ float: right;
  width: 300px;
  padding: 0 15px 20px 15px;}

.sidebar ul
{ width: 248px; 
  padding: 4px 0 0 0; 
  margin: 4px 0 30px 0;}

.sidebar li
{ list-style: none; 
  padding: 0 0 7px 0; }

.sidebar li a.a, .sidebar li a.a:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url("facebookIcon.jpeg") no-repeat left center;} 

.sidebar li a.b, .sidebar li a.b:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url("psaIcon.png") no-repeat left center;} 

.sidebar li a.c, .sidebar li a.c:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url("UofTIcon.png") no-repeat left center;} 

.sidebar li a.d, .sidebar li a.d:hover
{ padding: 0 0 0 40px;
  display: block;
  background: transparent url("UofTIcon.png") no-repeat left center;} 



.sidebar li a.selected
{ color: #444;
  text-decoration: none;} 

/* New code */
.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__track-container {
  height: 100%;
  position: relative;
  overflow: hidden;  
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__button--left {
  left: -40px;
}

.carousel__button--right {
  right: -40px;
}

.carousel__button img {
  width: 20px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: #122d80;
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgba(0,0,0,.75);
}

.is-hidden {display: none;}


.homepage-content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.carousel {
  margin-top: 50px;
}

.footer-tabs {
  list-style-type: None;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  gap: 24px;
  font-size: 15px;
  font-family: "Calibri", sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-links {
  text-align: center;
  display: flex;
  justify-content: center;
}

.future-students {
  display: flex;
  gap: 8px;
  padding-left: 60px;
  padding-bottom: 60px;
}

.future-students-button {
  background-color: #1c295c;
  border: none;
  color: white;
  font-family: "Calibri", sans-serif;
  font-size: 18px;
  width: 300px;
  height: 60px;
  border-radius: 3px;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
}
/*  */

#content
{ text-align: center;
  width: auto;
  padding: 0;}

.homepage-content { 
  padding-left: 50px;
  padding-right: 50px;
}

/* #content ul
{ margin: 2px 0 22px 20px;}

#content ul li
{ list-style-type: none;
  background:  url("bullet.png") no-repeat;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;} */

#footer
{ font: normal 'Calibri', sans-serif;
  height: 140px;
  padding: 20px 20px 0px 0;
  padding-bottom: 100px;
  text-align: center; 
  background: #303b63;
  color: #FFF;
  letter-spacing: 0.1em;}

#footer a
{ color: #FFF;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: underline;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

#colours
{ height: 0px;
  text-align: right;
  padding: 66px 16px 0px 300px;}
  
.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 1px solid; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #263965ff; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

.form_settings select
{ width: 310px;}

.form_settings .checkbox
{ margin: 4px 0; 
  padding: 0; 
  width: 14px;
  border: 0;
  background: none;}

.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #FFF;
  color: #47433F;
  padding: 0 0 0 30px;
  border-top: 1px solid #FFF;}

/* Minor modifications */

/* s - sponsors/donors */
table.s tr td
{ background: #FFF;
  color: #47433F;
  padding: 0 0 0 5px;
  border-top: #FFF;}
 
img.s {padding-right: 15px; padding-bottom: 5px; padding-top: 5px; }

/* p - programs */

p.p {margin-left: 30px;}
ol.p {margin-left: 40px; }
